@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
body {
  font-size: 32px;
  margin: 0;
  font-family: 'Odibee Sans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./Assets/img/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  line-height: 1.3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
}

